:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --gris: #757575;
    --grisclaro: #efefef;
    --primario: #F7B50D;
    --secundario: #0E2A47;
    --spacing: .25rem;

}

/*Generales*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: var(--grisclaro);
    color: var(--secundario)
}

/*Tipografia*/
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.1rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.5rem;
}

p {
    font-size: 1rem;
}

ul {
    list-style: none;
}

.resaltado {
    color: var(--primario);
    font-weight: bold;
}

.btn {
    background-color: var(--primario);
    color: var(--blanco);
    border: none;
    padding: 1.5rem 3rem;
    border-radius: .5rem;
}

.btn_transparent {
    background-color: transparent;
    color: var(--blanco);
    padding: 1.3rem 3rem;
    border-radius: .5rem;
    border: solid var(--blanco);
}

.btn_transparent:hover {
    color: var(--primario);
}

.contenedor-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

a.btn {
    color: var(--blanco);
}


a {
    transition: color 0.3s ease;
    color: var(--secundario);
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: var(--secundario);
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: var(--blanco);
}

header .logo {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2.5rem;
}

header a {
    padding: .5rem 1.2rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--oscuro);
}

header a:hover {
    color: var(--primario);
}

#hero {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    padding: 2rem 5rem;
    background-image: linear-gradient(0deg,
            rgba(7, 15, 24, 0.856),
            rgba(7, 15, 24, 0.856)),
        url("../img/FondoTrabajoBuhman.png");
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    color: var(--blanco);

}

#hero .container {
    display: flex;
}

#hero h1 {
    font-family: 'Rufina', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

#hero p {
    margin-bottom: 5rem;
}

#nosotros .container {
    text-align: justify;
    padding: 2rem 0;
}

#nosotros .left {
    padding: 0 2rem;
}

#nosotros .row-valores {
    background-image: linear-gradient(0deg,
            rgba(7, 15, 24, 0.856),
            rgba(7, 15, 24, 0.856));
    color: var(--blanco);
    text-align: justify;
    padding: 0 2rem;
}

#nosotros .indicadores {
    display: flex;
    align-items: center;
    text-align: center;
    gap: calc(var(--spacing)*6);
    padding: calc(var(--spacing)*4);
}

#nosotros .img-valores {
    display: flex;
      justify-content: center;
      align-items: center;
}

#nosotros .img-valores .icono-valores {
    background-color: var(--secundario);
    border: solid var(--secundario);
    border-radius: 0.5rem;
}

#nosotros li{
    list-style-type:disc;
}


#actividades .container {
    text-align: center;
    padding: 2rem 0;
}


#actividades .card-actividad {
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    padding: 5rem 0;
    margin: 0.5rem;
    border-radius: 1.5rem;
}

#actividades .card-actividad h4 {
    color: var(--primario);
}

#actividades .card-actividad p {
    color: var(--blanco);
}

.card-actividad:nth-child(1) {
    background-image: linear-gradient(0deg,
            rgba(7, 15, 24, 0.7),
            rgba(7, 15, 24, 0.7)),
        url("../img/A-software.png");
}

.card-actividad:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(7, 15, 24, 0.7),
            rgba(7, 15, 24, 0.7)),
        url("../img/A-panels-solars.png");
}

.card-actividad:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(7, 15, 24, 0.7),
            rgba(7, 15, 24, 0.7)),
        url("../img/A-plans-constructions.png");
}

#plataformas {
    text-align: center;
}

#plataformas .container {
    text-align: center;
    padding: 2rem 0;
}

#plataformas .btn {
    font-size: 1rem;
    padding: 1rem 2rem;
}

#plataformas h1 {
    color: var(--secundario);
    margin-top: 0;
}

#plataformas h3 {
    color: var(--blanco);
    margin-top: 0;
}

#plataformas .card p {
    padding: 1rem;
    color: var(--blanco);
}

#plataformas .card {
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    padding: 5rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
}

.card:nth-child(1) {
    background-image: linear-gradient(0deg,
            rgba(7, 15, 24, 0.7),
            rgba(7, 15, 24, 0.7)),
        url("../img/P_Fama.png");
}

.card:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(7, 15, 24, 0.7),
            rgba(7, 15, 24, 0.7)),
        url("../img/P_Montana.png");
}

.card:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(7, 15, 24, 0.7),
            rgba(7, 15, 24, 0.7)),
        url("../img/P_Systems.jpg");

}

#plataformas img {
    display: none;
}

#contacto {
    background-image: linear-gradient(0deg,
            rgba(7, 15, 24, 0.856),
            rgba(7, 15, 24, 0.856)),
        url("../img/FondoBuhman.png");
    background-repeat: none;
    background-size: cover;
    padding: 2rem 3rem;
    color: var(--blanco);

}

#contacto .container {
    text-align: center;
    padding: 1rem 1.5rem;
}

#contacto p {
    color: var(--primario);
}

.contact-form input {
    font-family: 'Rubik', sans-serif;
    border: none;
    height: 3rem;
    padding: .5rem 1rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    width: 100%;
}

.contact-form textarea {
    font-family: 'Rubik', sans-serif;
    border: none;
    height: 10rem;
    padding: 1.5rem 1rem;
    resize: none;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.full-width {
    width: 100%;
}

.footer {
    padding: 3rem 0 0 0;
    background-color: var(--secundario);
    color: var(--blanco);
    text-align: center;
}

.social-links {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.social-links a {
    margin: 0 1rem;
}

.social {
    height: 3rem;
    width: 3rem;
    background: var(--blanco);
    padding: 1rem;
    border-radius: 1rem;
}

.made-with {
    padding: .5rem 3rem;
    color: #555;
}

@media (min-width: 720px) {
    header {
        box-shadow: .3rem 0 .5rem var(--gris);
        padding: 0 2rem;
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 1.5rem;
        justify-content: space-between;
    }

    #hero {
        position: relative;
        z-index: 1;
        display: flex;
        background-color: var(--secundario);
        background-image: none;
        color: var(--blanco);
        padding: 2rem 3rem;
        justify-content: center;

    }

    #hero .hero-presentacion {
        width: 60%;
        max-width: 60rem;
        text-align: initial;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    #hero .img-presentacion {
        background-image: url("../img/FondoTrabajoBuhman.png");
        background-size: cover;
        background-position: center center;
        height: 30rem;
        width: 35rem;
        object-fit: cover;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }

    #hero .btn {
        text-align: center;
        align-items: center;
        width: 15rem;
    }

    #hero .contenedor-btn {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 1rem;
    }

    #hero p {
        color: var(--blanco);
    }

    #nosotros {
        box-shadow: var(--grisclaro);
        border: solid .1rem #ddd;
    }

    .linea_vertical {
        border-right: solid .1rem var(--gris);
        padding-right: calc(var(--spacing)*4);
    }

    #nosotros .img-nosotros {
        background-image: url("../img/MarcacionMateo.jpg");
        background-size: cover;
        background-position: center center;
        height: 30rem;
        width: 40rem;
        object-fit: cover;
        border-radius: 1.5rem;
    }

    #nosotros .left p {
        text-align: initial;
    }

    #nosotros .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    #nosotros .right {
        background-image: none;
    }

    #nosotros .right h3 {
        color: var(--secundario);
    }

    #nosotros .right p {
        color: var(--secundario);
        text-align: justify;
    }

    #nosotros .row-valores {
        background-image: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 1rem;
        color: var(--secundario);
        margin: 1rem;
    }

    #nosotros .card-valores {
        background-color: var(--blanco);
        border-radius: 1rem;
        padding: 1.5rem 1.5rem;
        background-image: none;
        text-align: justify;
    }

    .card-valores h3 {
        text-align: center;
    }

    #nosotros li{
    text-align: justify;
}

    #actividades {
        position: relative;
        z-index: 1;
        background-color: var(--secundario);
        background-image: none;
        color: var(--blanco);
        padding: 2rem 3rem;

    }


    #actividades .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }

    #actividades .card-actividad {
        align-items: center;
    }

    #actividades p {
        color: var(--blanco);
    }

    #plataformas .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: .5rem;
    }

    #plataformas .card h3 {
        color: var(--secundario);
    }

    #plataformas .card p {
        color: var(--secundario);
        text-align: justify;
    }

    #plataformas .card {
        background-color: var(--blanco);
        box-shadow: 0 .1rem .2rem var(--blanco);
        border: solid .1rem #ddd;
        border-radius: .5rem;
        padding: 2rem 3rem;
        background-image: none;
    }

    #plataformas img {
        display: block;
        border: solid .1rem #ddd;
    }

    #plataformas .img-pltf {
        display: grid;
        place-items: center;
    }

    #contacto .row {
        display: flex;
        flex-direction: row;
    }

    #contacto .vert-pad {
        padding: 2rem 0;
    }

    #contacto .left {
        width: 60rem;
        align-self: center;
    }

    #contacto .padded {
        padding: 2rem 3rem;
        text-align: left
    }
}